@model CrmUpSchool.EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
}

<h1>Yeni Kategori Sayfası</h1>
<form method="post">
    <label>Kategori Adı</label>
    <input type="text" asp-for="CategoryName" class="form-control"/>
    <br /><!--asp-for tag helper kullanımıdır. Veritabanındaki modeldeki o sütunun adı yazılır->
    <label>Kategori Açıklaması</label>
    <input type="text" asp-for="CategoryDescription" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
    

</form>
<!--crud
    fluent validation 
    DI Container
    filtreleme
-->

